@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --light-green: #BADA55;
  --dark-shade-blue: #24252D;
}

/* body{
  background-color: var(--dark-shade-blue);
  color:white;
} */
html {
  background-color: '#FFFFFF';
  color: var(--text-dark);
}
html.dark * {
  background-color: var(--dark-shade-blue);
  color: white;
}
*{
  font-family: Arial, Helvetica, sans-serif;
}
